.list {
    list-style-type: none;
    padding: 0;
    li {
        margin-top: 12px;
    }
}

.list-header {
    margin-top: 24px;
    h2 {
        @include flush-margin-padding(); 
        font-size: 18px;
        margin-top: 8px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.64);
    }
}